server {
    listen 3000 default_server;
    server_name _;

    location / {
        proxy_pass http://{{ hostvars[groups['nginx_server'][0]].ansible_host }}:80;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
